.chat-list {
  width: 300px;
  height: 600px;
  background-color: beige;
  padding: 20px;
  overflow-y: scroll;

  &__del {
    width: 35px!important;
    height: 30px!important;
    margin-left: 20px!important;
  }
}