.message {
  background-color: lightblue;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 20px;
  margin: 5px;
  min-width: 150px;

  &-owner {
    align-self: flex-end;
  }

  &-companion {
    align-self: flex-start;
  }

  &-sender {
    color: grey;
    font-size: 14px;
  }

  &-timestamp {
    color: red;
    font-size: 14px;
    text-align: right;
  }
}